<div class="container" *ngIf="isDoctor() || isPatient()">
  <div class="row">
    <div class="row">
      <div class="col-2" id="side">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-9" id="main">
        <div class="row">
          <div class="col-12" id="nav">
            <app-navdm (messageEvent)="recieveMsg($event)"></app-navdm>
            <app-ec-nav></app-ec-nav>
        </div>


      <div class="col-12" id="content">

        <div class="row">
          <div class="col-6" id="motif">

            <div class="row" id="title">Motif consultation</div>

            <div *ngIf="isDoctor() && state!='TERMINER'" class="row" id="add">
              <div  class="input-group">
                <div class="input-group-prepend col-4">
                  <input [(ngModel)]="ele.nom"type="text" class="form-control">
                </div>
                <input [(ngModel)]="ele.remarque" type="text" class="form-control">
                <i (click)="addMotif()" class="bi bi-save-fill"></i>
              </div>
            </div>

            <div class="row" id="list">
              <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let e of eles">
                      <td id="nom" class="col-4">{{e.nom}}</td>
                      <td id="rmq" class="col-7"><em>{{e.remarque}}</em></td>
                      <td><i *ngIf="isDoctor() && state!='TERMINER'" (click)="delete(e.id)" class="bi bi-trash-fill"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>


        </div>


    </div>
  </div>
</div>
