<div class="row">
  <nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <a class="nav-link" routerLinkActive="active" routerLink="/dm/consultation/{{c.id}}/33/pp"
           (click)="navigat('33')">Certificat Medical</a>

          <a class="nav-link" routerLinkActive="active" routerLink="/dm/consultation/{{c.id}}/331/pp"
          (click)="navigat('331')">Ordonnance</a>

          <a  class="nav-link" routerLinkActive="active" routerLink="/dm/consultation/{{c.id}}/332/pp"
          (click)="navigat('332')">Orientation</a>
      </ul>
    </div>
 </nav>
</div>
