<div class="row">
  <nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <a class="nav-link" routerLinkActive="active" routerLink="/dm/consultation/{{c.id}}/32/bp"
           (click)="navigat('32')">Hba1c</a>

          <a class="nav-link" routerLinkActive="active" routerLink="/dm/consultation/{{c.id}}/321/bp"
          (click)="navigat('321')">Bilan Lipidique</a>

          <a  class="nav-link" routerLinkActive="active" routerLink="/dm/consultation/{{c.id}}/322/bp"
          (click)="navigat('322')">Bilan Rénal</a>
      </ul>
    </div>
 </nav>
</div>
