.container{
  background-color: white;
}
#side{
  border-right: 1px solid black;
}
#main{
  margin: 10px;
}
.rounded{
  margin: 10px;
  width: 100px;
  height: 100px;
}
#t{
  font-weight: bold;
  border-right: black 1px solid;
}
#e{
  margin-top: 15px;
}
app-navdm{
  margin-top: 15px;
}
.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }
table{
  margin-top: 10px;
  background-color: cornsilk;
}
#title{
  text-align: center;
  font-weight: 600;
  font-size: x-large;
  margin-bottom: 20px;
  color: dodgerblue;
}
#a{
  font-weight: 500;
}

#bp, .paper{
  border: 2px solid black;
  padding: 10px;
}
#at{
  padding: 10px;
}
